<div class="page-header">
    <div class="row">
        <div class="col">
            <h4>Audits</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <app-paginated-table 
        [tableTitle]="'Audits'"
        [pagedResultSet]="auditPagedResult"
        [pages]="getPages()"
        [headers]="getHeaders()"
        [tableActions]="getTableActions()"
        [queryParameters]="queryParameters"
        [routeUrl]="'audits/view'"
        [keyId]="'id'"
        [filters]="filters"
        [dateRanges]="dateRanges"
        (queryParametersChanged)="sendQueryParameters()">
    </app-paginated-table>
    </div>
</div>