<div class="card">
    <div class="card-header">
        Added
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Key
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let added of audit.onlyOnRight | keyvalue">
                        <td>{{added.key}}</td>
                        <td>{{added.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Removed
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Key
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let removed of audit.onlyOnLeft | keyvalue">
                        <td>{{removed.key}}</td>
                        <td>{{removed.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        Updates
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Key
                        </th>
                        <th>
                            Value - Before
                        </th>
                        <th>
                            Value - After
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let update of audit.differingProperties">
                        <td>{{update.propertyName}}</td>
                        <td>{{update.left}}</td>
                        <td>{{update.right}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>