<div class="page-header">
    <div class="add-customer-header" *ngIf=!viewMode>
        <h4>{{headerMode}} a Customer</h4>
    </div>
    <div class="add-customer-header" *ngIf=viewMode>
        <div class="row">
            <div class="col-sm-12">     
                <button type="button" class="btn btn-primary" *ngIf="canUpdate" (click)="viewMode=false; headerMode='Edit'">
                    EDIT <i class="far fa-edit"></i>
                </button>
                <button type="button" class="btn btn-secondary" *ngIf="canUpdate" (click)="openConfirmDeleteDialog()">
                    DELETE <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Customer Details</h4>
            </div>
        </div>
    </div>
</div>
<div class="create-form">
    <div class="row">
        <div class="col-sm-3">
            Name:
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text"[(ngModel)]="customer.name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Phone Number:
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text"[(ngModel)]="contactInformation.phoneNumber">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Email Address:
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text"[(ngModel)]="contactInformation.emailAddress">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-3">
            Address
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text"[(ngModel)]="address.addressLine1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text"[(ngModel)]="address.addressLine2">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            City
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text"[(ngModel)]="address.city">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Zip Code
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text"[(ngModel)]="address.zipCode">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Province
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text"[(ngModel)]="address.province">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Country
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text"[(ngModel)]="address.country" [attr.disabled]="true">
        </div>
    </div>
</div>
<div class="page-footer">
    <div class="row" *ngIf=!viewMode>
        <button class="create-button" (click)="addCustomer()">Save Customer</button>
    </div>
</div>