<mat-dialog-content>
    <div class="page-header">
        <div class="add-customer-header" *ngIf=!viewMode>
            <h4>{{headerMode}} a Customer</h4>
        </div>
        <div class="add-customer-header" *ngIf=viewMode>
            <div class="row">
                <h4>Customer Details</h4>
                <span class="edit-span"></span>
                <button class="edit-button" (click)="viewMode=false; headerMode='Edit'">
                    <a>
                        <i class="material-icons">edit</i>
                    </a>
                </button>
            </div>
        </div>
    </div>
    <div class="create-form">
        <div class="row">
            <div class="col-sm-3">
                Name:
            </div>
            <div class="col-sm-9">
                <input [disabled]=viewMode type="text"[(ngModel)]="customer.name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Phone Number:
            </div>
            <div class="col-sm-9">
                <input [disabled]=viewMode type="text"[(ngModel)]="contactInformation.phoneNumber">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Email Address:
            </div>
            <div class="col-sm-9">
                <input [disabled]=viewMode type="text"[(ngModel)]="contactInformation.emailAddress">
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-3">
                Address
            </div>
            <div class="col-sm-9">
                <input [disabled]=viewMode type="text"[(ngModel)]="address.addressLine1">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <input [disabled]=viewMode type="text"[(ngModel)]="address.addressLine2">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                City
            </div>
            <div class="col-sm-9">
                <input [disabled]=viewMode type="text"[(ngModel)]="address.city">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Zip Code
            </div>
            <div class="col-sm-9">
                <input [disabled]=viewMode type="text"[(ngModel)]="address.zipCode">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Province
            </div>
            <div class="col-sm-9">
                <input [disabled]=viewMode type="text"[(ngModel)]="address.province">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Country
            </div>
            <div class="col-sm-9">
                <input [disabled]=viewMode type="text"[(ngModel)]="address.country" [attr.disabled]="true">
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="row" *ngIf=!viewMode>
            <button class="create-button" (click)="addCustomer()">Save Customer</button>
        </div>
    </div>
</mat-dialog-content>