<div class="page-header">
    <div class="row">
        <div class="col">
            <h4>Customers</h4>
        </div>
        <div [hidden]="hideCreateButton()" class="col text-end">
            <button class="create-button" (click)="goToAddCustomerLink()">Add a Customer</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <app-paginated-table
        [tableTitle]="'Customers'"
        [pagedResultSet]="customerPagedResultSet"
        [headers]="getHeaders()"
        [pages]="getPages()"
        [queryParameters]="queryParameters"
        [routeUrl]="'customers/view'"
        [keyId]="'id'"
        [filters]="filters"
        [dateRanges]="dateRanges"
        (queryParametersChanged)="sendQueryParameters()">>
        </app-paginated-table>
    </div>
</div>