<div class="page-header">
    <div class="row">
        <div class="col">
            <h4>Accounts</h4>
        </div>
        <div [hidden]="hideCreateButton()" class="col text-end">
            <button class="create-button" (click)="goToCreateAccountLink()">Create an Account</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <app-paginated-table
        [tableTitle]="'Accounts'"
        [pagedResultSet]="userAccountPagedResultSet"
        [headers]="getHeaders()"
        [pages]="getPages()"
        [routeUrl]="'accounts/view'"
        [keyId]="'username'"
        [filters]="filters"
        [dateRanges]="dateRanges"
        [queryParameters]="queryParameters"
        (queryParametersChanged)="sendQueryParameters()">
        </app-paginated-table>
    </div>
</div>