<div class="page-header">
    <div *ngIf=!viewMode>
        <h4>{{headerMode}} an Account</h4>
    </div>
</div>
<div class="page-header" *ngIf="viewMode">
    <div class="page-header" *ngIf="viewMode">
        <div class="row">
            <div class="col-sm-12">     
                <button type="button" class="btn btn-primary" *ngIf="canUpdate" (click)="viewMode=false; headerMode='Edit'">
                    EDIT <i class="far fa-edit"></i>
                </button>
                <button type="button" class="btn btn-secondary" *ngIf="canDelete" (click)="openConfirmDeleteDialog()">
                    DELETE <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <h4>Account Details</h4>
            </div>
        </div>
    </div>
</div>
<div class="create-form">
    <div class="row">
        <div class="col-sm-12">
            Account Details
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            Username
        </div>
        <div class="col-sm-9">
            <input [disabled]="createdUser!=null" type="text" [(ngModel)]="user.username">
        </div>
    </div>
    <div class="row" *ngIf="!viewMode && headerMode != 'Edit'">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            Password
        </div>
        <div class="col-sm-9">
            <input [disabled]="createdUser!=null" type="password" [(ngModel)]="user.password">
        </div>
    </div>
    <div class="row" *ngIf="!viewMode && headerMode != 'Edit'">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            Confirm Password
        </div>
        <div class="col-sm-9">
            <input [disabled]="createdUser!=null" type="password" [(ngModel)]="user.confirmPassword">
        </div>
    </div>
    <div *ngIf="createdUser==null && !viewMode && headerMode != 'Edit'" id="create-user" class="row">
        <button class="create-button" (click)="createUser()">Create</button>
    </div>
    <div *ngIf="createdUser!=null || viewMode">
        <div class="row">
            <div class="col-sm-12">
                Personal Details
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                First Name
            </div>
            <div class="col-sm-9">
                <input [disabled]="viewMode" type="text" [(ngModel)]="userAccount.personalDetails.firstName">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                Last Name
            </div>
            <div class="col-sm-9">
                <input [disabled]="viewMode" type="text" [(ngModel)]="userAccount.personalDetails.lastName">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                Contact Information
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                Email
            </div>
            <div class="col-sm-9">
                <input [disabled]="viewMode" type="text" [(ngModel)]="userAccount.contactInformation.emailAddress">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                Phone
            </div>
            <div class="col-sm-9">
                <input [disabled]="viewMode" type="text" [(ngModel)]="userAccount.contactInformation.phoneNumber">
            </div>
        </div>
        <hr>
        <div class="row" *ngIf="!viewMode">
            <div class="col-sm-3">
                Add Associated Branch
            </div>
            <div class="col-sm-5">
                <mat-select [placeholder]="'Select Branch'" (selectionChange)="branchSelected($event.value)">
                    <mat-option [disabled]="!isAdmin && branch.branchId!=activeBranchId" *ngFor="let branch of branches" [value]="branch">
                        {{ branch.name }}
                    </mat-option>
                </mat-select>
            </div>
            <div class="col-sm-4"><button class="add-to-list-button" (click)="addSelectedBranch()">+</button></div>
        </div>
    </div>
</div>
<div class="row" *ngIf="createdUser!=null || viewMode">
    <div class="col-md">
        <div class="card">
            <div class="card-header">Associated Branches and Roles</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>Branch</th>
                            <th>Role</th>   
                        </thead>
                        <tbody>
                            <tr *ngFor="let associatedBranchAndRole of associatedBranchesAndRoles">
                                <td>
                                    {{ associatedBranchAndRole.name }}
                                </td>
                                <td>
                                    <mat-select [placeholder]="'Select a Role'" [disabled]="viewMode && !isAdmin && associatedBranchAndRole.accountId!=activeBranchId" [(value)]="associatedBranchAndRole.role" (selectionChange)="selectRole($event.value, associatedBranchAndRole)">
                                        <mat-option *ngFor="let role of roles" [value]="role">
                                            {{ role.name }}
                                        </mat-option>
                                    </mat-select>
                                </td> 
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-footer" *ngIf="createdUser!=null && !viewMode">
    <div class="row">
        <button class="create-button" (click)="saveUserAccount()">Save</button>
    </div>
</div>