<div class="login-wrapper fadeInDown">
    <div id="loginContent">

        <div class="login-header">
            {{title}}
        </div>

        <div class="login-body">
            <div>
                <input type="text" id="username" class="fadeIn" placeholder="username" [(ngModel)]="username" (keydown.enter)="login()">
            </div>
            <div>
                <input type="password" id="password" class="fadeIn" placeholder="password" [(ngModel)]="password" (keydown.enter)="login()">
            </div>
            <div>
                <button id="login-button" class="fadeIn delay"(click)="login()">Log in</button>
            </div>
        </div>
    
        <!-- Remind Passowrd -->
        <div class="login-footer">
            <a class="underline-hover" (click)="forgotPassword()">Forgot Password?</a>
        </div>
    
    </div>
</div>
