<div class="row">
    <h4>Confirm {{actionToConfirm}}</h4>
</div>
<div class="row">
    <button type="button" class="btn btn-outline-danger" (click)="confirmDeletion()"><i class="far fa-check-circle"></i> CONFIRM</button>
    <button type="button" class="btn btn-outline-secondary" (click)="cancelDeletion()"><i class="far fa-times-circle"></i> CANCEL</button>
</div>