<div class="card">
    <div class="card-header">
        {{tableTitle}}
        <button *ngIf="!withFilters" type="button" class="btn btn-primary" (click)="withFilters=!withFilters">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <button *ngIf="withFilters" type="button" class="btn btn-primary" (click)="withFilters=!withFilters">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </button>
    </div>
    <div class="card-body">
        <!-- <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="itemsFilter">
            </div>
        </div> -->
        <div *ngIf="withFilters">
            <div *ngIf="typeCriteria">
                <div class="row">
                    <div class="col-md-2 filter-key">Type:</div>
                    <div class="col-md-4">
                        <mat-select class="filter-value" [(value)]="type" [placeholder]="'Select Type'">
                            <mat-option *ngFor="let type of typeCriteria.types" [value]="type">
                                {{ type }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-2 filter-key">Filter By:</div>
                <div class="col-md-4">
                    <mat-select class="filter-value" [(value)]="searchFilter" [placeholder]="'Select Filter'">
                        <mat-option *ngFor="let filter of filters" [value]="filter">
                            {{ filter.name }}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="row" *ngIf="searchFilter">
                <div class="col-md-2 filter-key">{{searchFilter.name}}</div>
                <div class="col-md-4">
                    <input class="filter-value" type="text" [(ngModel)]="searchFilter.value">
                </div>
            </div>
            <hr>
            <div class="row" *ngIf="dateRanges.length>1">
                <div class="col-md-2 filter-key">Range By:</div>
                <div class="col-md-4">
                    <mat-select class="filter-value" [(value)]="dateRangeFilter" [placeholder]="'Select Filter'">
                        <mat-option *ngFor="let dateRange of dateRanges" [value]="dateRange">
                            {{ dateRange.name }}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="row" *ngIf="dateRangeFilter">
                <div class="col-md-2 filter-key">From</div>
                <div class="col-md-4">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker disabled="false"></mat-datepicker>
                    <input matInput
                            [(ngModel)]="dateRangeFilter.start"
                            [matDatepicker]="startDatePicker"
                            placeholder="Choose Start Date"
                            class="filter-value" disabled>
                </div>
                <div class="col-md-2 filter-key">To</div>
                <div class="col-md-4">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker disabled="false"></mat-datepicker>
                    <input matInput
                            [(ngModel)]="dateRangeFilter.end"
                            [matDatepicker]="endDatePicker"
                            placeholder="Choose End Date"
                            class="filter-value" disabled>
                </div>
            </div>
            <div class="row search-button-container">
                <div class="col-sm-12">     
                    <button type="button" class="btn btn-primary" (click)="sendQueryWithFilters()">
                        SEARCh <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="clearFilters()">
                        CLEAR <i class="far fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{itemsFilter}}</h4>
            </div>
        </div> -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th *ngFor="let header of headers"  (click)="toggleSort(header)">
                            <span class="header-holder">
                                {{header.display | camelcaseToPhrase | titlecase}}
                                <i *ngIf="queryParameters.sortField!=header.actual && header.sortable" class="fa fa-sort"></i>
                                <i *ngIf="queryParameters.sortField===header.actual && !queryParameters.ascending" class="fa fa-sort-desc"></i>
                                <i *ngIf="queryParameters.sortField===header.actual && queryParameters.ascending" class="fa fa-sort-asc"></i>
                            </span>
                        </th>    
                        <th *ngFor="let tableAction of tableActions">
                        </th>                   
                    </tr>
                </thead>
                <tbody *ngIf="pagedResultSet.results && pagedResultSet.results.length">
                    <tr *ngFor="let result of pagedResultSet.results" [style.background]="checkRowColor(result)">
                        <td>
                            <span (click)="openItemInNewTab(result)"><i class="fas fa-external-link-alt"></i></span></td>
                        <td *ngFor="let header of headers"
                        (dblclick)="openItem(result)">
                            <span class="value-holder" [style.background]="checkColor(result, header)">
                                {{
                                    isANumber(result, header) ?
                                        (getNumberValue(result, header) | currency : "₱") : getValue(result, header)
                                }}
                            </span>
                        </td>    
                        <td *ngFor="let tableAction of tableActions">
                            <span *ngIf="tableAction.type=='UPDATE'" (click)="emitUpdateButtonClicked(result.id)"><i class="fa fa-pencil-square-o fa-lg"></i>{{tableAction.text}}</span>
                            <span *ngIf="tableAction.type=='SPECIAL'" (click)="emitSpecialButtonClickedEvent(result.id)"><i class="fa fa-book fa-lg"></i>{{tableAction.text}}</span>
                            <span *ngIf="tableAction.type=='DELETE'" (click)="emitDeleteButtonClickedEvent(result.id)"><i class="fa fa-trash-o fa-lg"></i>{{tableAction.text}}</span>
                            <span *ngIf="tableAction.type=='POPUP'" (click)="emitPopupButtonClickedEvent(result.id)"><i class="fa fa-ellipsis-h fa-lg"></i>{{tableAction.text}}</span>
                        </td> 
                    </tr>
                </tbody>
            </table>
            <span *ngIf="pagedResultSet.results && pagedResultSet.results.length > 0" style="font-size: 12px">Showing {{(pagedResultSet.limit * (pagedResultSet.page - 1)) + 1}}-{{(pagedResultSet.limit * (pagedResultSet.page - 1)) + pagedResultSet.size}} 
                of {{pagedResultSet.totalCount}}</span>
        </div>
    </div>
    <div class="card-footer" *ngIf="pagedResultSet.results">
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
                <mat-label>Limit</mat-label>
                <mat-select [(value)]="queryParameters.limit" [placeholder]="'Limit'" (selectionChange)="limitChanged($event.value)">
                    <mat-option *ngFor="let limit of limits" [value]="limit">
                        {{ limit }}
                    </mat-option>
                </mat-select>
            </div>
        <div class="col-sm-2">
                <mat-label>Page</mat-label>
                <mat-select [(value)]="queryParameters.page" [placeholder]="'Page'" (selectionChange)="pageChanged($event.value)">
                    <mat-option *ngFor="let page of pages" [value]="page">
                        {{ page }}
                    </mat-option>
                </mat-select>
        </div>
        <div class="col-sm-2" *ngIf="pages.length > 1">
            <button type="button">
                <i class="fa fa-caret-left fa-lg"></i>
            </button>
            <button type="button">
                <i class="fa fa-caret-right fa-lg"></i>
            </button>
        </div>
    </div>
</div>