.card-footer {
    display: flex;
    justify-content: flex-end;
}

.card-footer i {
    padding: 5px 2px 5px 2px;
}

.card-footer button {
    background-color: lightgray;
    border-radius: 100%;
}

.filter-key, .filter-value {
    padding: 10px
}

button {
    margin: 10px
}

td span {
    display: flex;
    align-items: center;
}

.value-holder, .header-holder {
    padding: 3px;
    border-radius: 10px;
    flex-direction: column;
}

th {
    text-align: center;
}