<div class="page-header">
    <div class="row">
        <div class="col">
            <h4>Branches</h4>
        </div>
        <div [hidden]="hideCreateButton()" class="col text-end">
            <button class="create-button" (click)="goToCreateBranchLink()">Create a Branch</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <app-paginated-table
        [tableTitle]="'Branches'"
        [pagedResultSet]="branchPagedResultSet"
        [headers]="getHeaders()"
        [pages]="getPages()"
        [routeUrl]="'branches/view'"
        [keyId]="'id'"
        [filters]="filters"
        [dateRanges]="dateRanges"
        [queryParameters]="queryParameters"
        (queryParametersChanged)="sendQueryParameters()">
        </app-paginated-table>
    </div>
</div>