<div class="page-header">
    <div *ngIf="!viewMode">
        <h4>{{headerMode}} a Branch</h4>
    </div>
</div>
<div class="page-header" *ngIf="viewMode">
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" *ngIf="canUpdate" (click)="viewMode=false; headerMode='Edit'">
                EDIT <i class="far fa-edit"></i>
            </button>
            <button type="button" class="btn btn-secondary" *ngIf="canUpdate" (click)="openConfirmDeleteDialog()">
                DELETE <i class="far fa-trash-alt"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <h4>Branch Details</h4>
        </div>
    </div>
</div>
<div class="create-form">
    <div class="row">
        <div class="col-sm-12">
            Branch Details:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            Branch Name:
        </div>
        <div class="col-sm-9">
            <input [disabled]="viewMode" type="text" [(ngModel)]="branch.name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            Address:
        </div>
        <div class="col-sm-9">
            <input [disabled]="viewMode" type="text" [(ngModel)]="address.city">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Contact Information:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            Email:
        </div>
        <div class="col-sm-9">
            <input [disabled]="viewMode" type="text" [(ngModel)]="contactInformation.emailAddress">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            Phone:
        </div>
        <div class="col-sm-9">
            <input [disabled]="viewMode" type="text" [(ngModel)]="contactInformation.phoneNumber">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Configuration:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            Number of tables:
        </div>
        <div class="col-sm-9">
            <input [disabled]="viewMode" type="number" [(ngModel)]="branchConfiguration.numberOfTables">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            Service Charge Percentage:
        </div>
        <div class="col-sm-9">
            <input [disabled]="viewMode" type="number" [(ngModel)]="branchConfiguration.serviceChargePercentage">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            Discount Percentage:
        </div>
        <div class="col-sm-9">
            <input [disabled]="viewMode" type="number" [(ngModel)]="branchConfiguration.discountPercentage">
        </div>
    </div>
</div>




<div class="row">
    <div class="col-sm-10">
        Deliver Charge:
    </div>
    <div class="col-sm-2">
        <button class="add-to-list-button" *ngIf=!viewMode (click)="openCreateDeliveryChargeDialog()">+</button>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <!-- <th></th> -->
                    <th>
                        Distance 
                    </th>
                    <th>
                        Item code
                    </th>
                    <th>
                        Incentives
                    </th>
                    <th>
                        Minimum Order
                    </th>
                    <th>
                        Charge
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deliverycharge of branchConfiguration.deliveryCharges;">
                    <td>{{ deliverycharge.distance }}</td>
                    <td>{{ deliverycharge.itemCode }}</td>
                    <td>{{ deliverycharge.incentive }}</td>
                    <td>{{ deliverycharge.minimumOrder }}</td>
                    <td>{{ deliverycharge.charge }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>






<div class="page-footer">
    <div class="row" *ngIf="!viewMode">
        <button class="create-button" (click)="saveBranch()">Save</button>
    </div>
</div>