    <div class="page-header">
        <div >
            <h4>Delivery Charge</h4>
        </div>

    </div>
    <div class="create-form">
        <div class="row">
            <div class="col-sm-3">
                Distance:
            </div>
            <div class="col-sm-9">
                <input type="text"[(ngModel)]="deliveryCharge.distance">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Item code:
            </div>
            <div class="col-sm-9">
                <input type="text"[(ngModel)]="deliveryCharge.itemCode">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Incentive:
            </div>
            <div class="col-sm-9">
                <input type="number"[(ngModel)]="deliveryCharge.incentive">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Minimum Order
            </div>
            <div class="col-sm-9">
                <input type="text"[(ngModel)]="deliveryCharge.minimumOrder">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Charge
            </div>
            <div class="col-sm-9">
                <input type="number"[(ngModel)]="deliveryCharge.charge">
            </div>
        </div>
    </div>


    <div class="page-footer">
        <div class="row" >
            <button class="create-button" (click)="addDeliveryCharge()">Add</button>
        </div>
    </div>