<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-public *ngIf="onPublicView"></app-public>
<app-login *ngIf="!isLoggedIn && !onPublicView" (loginClickedEvent)=receiveLoginEvent()></app-login>
<app-navigation *ngIf="isLoggedIn && !onPublicView" (logoutClickedEvent)=receiveLogoutEvent()>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</app-navigation>
<div class="powered-by">
  Powered by: Ad-App
</div>