.powered-by {
    text-align: center;
    font-size: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px 5px 5px 5px;
}

.container-header {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 10px;
}