<kendo-scheduler 
    [kendoSchedulerBinding]="invoiceSchedules"
    [selectedDate]="selectedDate"
    [workDayStart]="workDayStart"
    [workDayEnd]="workDayEnd"
    [eventStyles]="getEventStyles"
    [editable]="true"
    [showWorkHours]="true"
    (eventDblClick)="viewInvoice($event)"
    (dateChange)="changeInvoiceScheduleRange($event)"
    scrollTime="17:00"
    style="height: 1300px;">

    <ng-template kendoSchedulerEventTemplate let-event="event" >
            <ng-container *ngFor="let resource of invoiceSchedules">
                <div *ngIf="event.id==resource.id">
                    <div>
                        <span style="padding: 2px; margin: 2px; border: 1px solid">
                            {{resource.title}}, {{ resource.city }}
                        </span>
                    </div>
                    <div>
                        <span
                            style="padding: 5px; margin: 5px;">
                            {{ resource.description }}
                        </span>
                    </div>
                </div>
            </ng-container>
    </ng-template>

    <kendo-scheduler-day-view>
    </kendo-scheduler-day-view>

    <kendo-scheduler-week-view>
    </kendo-scheduler-week-view>
</kendo-scheduler>
