<div class="page-header">
    <div *ngIf=!viewMode>
        <h4>{{headerMode}} an Invoice</h4>
    </div>
</div>
<div class="page-header" *ngIf="viewMode">
    <div class="row">
        <div class="col-sm-12" *ngIf="!invoice.voided">     
            <button type="button" class="btn btn-primary" *ngIf="canUpdate" (click)="viewMode=false; headerMode='Edit'">
                EDIT <i class="far fa-edit"></i>
            </button>
            <button type="button" class="btn btn-secondary" *ngIf="canUpdate" (click)="openConfirmDeleteDialog()">
                DELETE <i class="far fa-trash-alt"></i>
            </button>
            <button type="button" class="btn btn-warning" *ngIf="canVoid" (click)="openConfirmVoidDialog()">
                VOID <i class="far fa-times-circle"></i>
            </button>
            <button type="button" class="btn btn-info" (click)="generatePdf('INVOICE')">
                PDF <i class="far fa-file-pdf"></i>
            </button>
            <button type="button" class="btn btn-light" (click)="generatePdf('INVOICE_RECEIPT')">
                RECEIPT <i class="fas fa-receipt"></i>
            </button>
        </div>
        <div class="col-sm-12" *ngIf="invoice.voided">     
            <h4>VOIDED</h4>
        </div>
    </div>
    <div class="row" *ngIf="pdfUrl" >
        <div class="col-sm-3 share-link">
            Shareable Link:
        </div>
        <div class="col-sm-9">
            <input [(value)]="pdfUrl" type="text" disabled="true">
            <ng2-pdfjs-viewer #externalPdfViewer [externalWindow]="true"></ng2-pdfjs-viewer>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <h4>Invoice Details - {{invoice.number}}</h4>
            <span style="font-weight: bold;">Invoice Date: {{invoiceDateForDisplay}}</span>
        </div>
    </div>
</div>
<div class="create-form">
    <div class="row" *ngIf="viewMode || headerMode=='Edit'">
        <div class="col-sm-3">
            Status
        </div>
        <div class="col-sm-9">
            <span *ngIf="'PROCESSING'==invoice.deliveryStatus"><i class="fa fa-clock-o fa-lg"></i>Processing</span>
            <span *ngIf="'FOR_DELIVERY'==invoice.deliveryStatus"><i class="fa fa-motorcycle fa-lg"></i>For Delivery</span>
            <span *ngIf="'DELIVERED'==invoice.deliveryStatus"><i class="fa fa-check fa-lg"></i>Delivered</span>
            <span *ngIf="'FOR_PICK_UP'==invoice.deliveryStatus"><i class="fa fa-arrow-circle-o-left"></i>For Pick Up</span>
            <span *ngIf="'DONE'==invoice.deliveryStatus"><i class="fa fa-check-square-o"></i>Done</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Transaction Type
        </div>
        <div class="col-sm-9">
            <mat-radio-group [disabled]=viewMode [(ngModel)]="invoice.transactionType" (change)="changeTransactionType($event.value)" aria-label="Select Transaction Type">
                <mat-radio-button value="DINE_IN">Dine in</mat-radio-button>
                <mat-radio-button value="DELIVERY">Delivery</mat-radio-button>
                <mat-radio-button value="TAKE_OUT">Take out</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="row" [hidden]="!isAdmin" *ngIf="invoice.transactionType">
        <hr>
        <div class="col-sm-3">
            Branch:
        </div>
        <div class="col-sm-9">
            <mat-select [disabled]=viewMode [(value)]="selectedBranch" [placeholder]="'Select Branch'" (selectionChange)="selectBranch($event.value)">
                <mat-option *ngFor="let branch of branches" [value]="branch">
                    {{ branch.name }}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="row" *ngIf="invoice.transactionType == 'DINE_IN'">
        <div class="col-sm-3">
            Table:
        </div>
        <div class="col-sm-9">
            <mat-select [disabled]=viewMode [(value)]="invoice.tableNumber" [placeholder]="'Select Table'" (selectionChange)="selectTable($event.value)">
                <mat-option *ngFor="let table of tables" [value]="table">
                    {{ table }}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="row" *ngIf="invoice.transactionType == 'DINE_IN'">
        <div class="col-sm-3">
            Pax:
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="number"[(ngModel)]="invoice.numberOfPax" step='1'>
        </div>
    </div>
    <div class="row" *ngIf="invoice.transactionType == 'DELIVERY' || 'TAKE_OUT'">
        <div class="col-sm-3">
            Bill to:
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text" [(ngModel)]="invoice.customer" [matAutocomplete]="auto" (input)="findCustomers($event.target.value)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectCustomer($event.option.value)" [displayWith]="customerName">
                <mat-option *ngFor="let customer of customers" [value]="customer">
                    {{ customer.name }}
                </mat-option>
            </mat-autocomplete>
            <button *ngIf="!invoice.customer.name" class="add-customer" (click)="openCreateCustomerDialog()">
                <a>
                    <i class="material-icons">person_add</i>
                </a>
            </button>
        </div>
    </div>
    <div *ngIf="invoice.customer.name || invoice.tableNumber">
        <div *ngIf="invoice.transactionType == 'DELIVERY' && invoice.customer.address && invoice.customer.contactInformation">
            <div class="row">
                <div class="col-sm-3">
                    Billing Address:
                </div>
                <div class="col-sm-9"></div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <p>{{invoice.customer.address.addressLine1}}</p>
                    <p>{{invoice.customer.address.addressLine2}}</p>
                    <p>{{invoice.customer.address.city}} {{invoice.customer.address.province}}</p>
                    <p>{{invoice.customer.address.zipCode}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    Contact Info:
                </div>
                <div class="col-sm-9"></div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <p>{{invoice.customer.contactInformation.phoneNumber}}</p>
                    <p>{{invoice.customer.contactInformation.emailAddress}}</p>
                </div>
            </div>
        </div>
        <hr>
        <div [hidden]="(isAdmin && invoice.branchId == null) || viewMode" class="row">
            <div class="col-sm-3">
                Search Products:
            </div>
            <div class="col-sm-9">
                <input type="text" [matAutocomplete]="auto" (input)="findProducts($event.target.value)">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectProduct($event.option.value)" [displayWith]="customerName">
                    <mat-option *ngFor="let product of products" [value]="product">
                        name: {{ product.name }} , code: {{product.productCode}}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div *ngIf="invoice.items.length > 0">
            <div class="row">
                <div class="col-sm-3">
                    Orders:
                </div>
                <div class="col-sm-9"></div>
            </div>
            <div *ngFor="let item of invoice.items">
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-11">
                        <h6>{{item.product.name}} : {{item.product.productCode}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-6">
                        <textarea [disabled]="true" [rows]="calculateRows(item.product.description)" name="description"[(ngModel)]="item.product.description"></textarea>
                    </div>
                    <div class="col-sm-1">
                        <p>{{item.product.price | currency : "₱"}}</p>
                    </div>
                    <div class="col-sm-2">
                        x <input [disabled]="viewMode" type="number" [(ngModel)]="item.quantity" (input)="computeAmountDue()">
                    </div>
                    <div class="col-sm-1">
                        <button [hidden]="viewMode" (click)="removeItem(item)">
                            <a>
                                <i class="material-icons">delete</i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="invoice.transactionType == 'DELIVERY'">
                <div class="row">
                    <div class="col-sm-3">
                        Delivery Charge:
                    </div>
                    <div class="col-sm-9">
                        <mat-select [disabled]=viewMode [(value)]="selectedDeliveryCharge" [placeholder]="'Select Delivery Charge'" (selectionChange)="selectDeliveryCharge($event.value)">
                            <mat-option *ngFor="let deliveryCharge of deliveryCharges" [value]="deliveryCharge">
                                {{ deliveryCharge.itemCode }}, {{ deliveryCharge.distance }} , {{ deliveryCharge.minimumOrder }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="row" *ngIf="invoice.deliveryCharge">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-8">
                        <h6>{{invoice.deliveryCharge.itemCode}}:{{invoice.deliveryCharge.minimumOrder}}</h6>
                    </div>
                    <div class="col-sm-2">
                        ₱<input type="number" [disabled]="true" [(ngModel)]="invoice.deliveryCharge.charge" (input)="computeAmountDue()" step='0.01' placeholder='0.00'>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"><hr></div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-7">
                    Apply Service Charge:
                </div>
                <div class="col-sm-2">
                    <mat-slide-toggle [disabled]="viewMode" [checked]="invoice.withServiceCharge" (change)="serviceChargeToggled($event.source.checked)" >
                    </mat-slide-toggle>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <div class="row" *ngIf=invoice.withServiceCharge>
                <div class="col-sm-9">
                </div>
                <div class="col-sm-2">
                    ₱<input type="number" [disabled]="true" [(ngModel)]="invoice.serviceCharge" step='0.01' placeholder='0.00'>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-7">
                    Discount:
                </div>
                <div class="col-sm-2">
                    <mat-slide-toggle [disabled]="viewMode" [checked]="invoice.withDiscount" (change)="discountChargeToggled($event.source.checked)">
                    </mat-slide-toggle>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <div class="row" *ngIf=invoice.withDiscount>
                <div class="col-sm-9">
                </div>
                <div class="col-sm-2">
                    ₱<input type="number" [disabled]="true" [(ngModel)]="invoice.discount" step='0.01' placeholder="0.00">
             </div>
            <div class="col-sm-1">
            </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-7">
                    Total Amount Due:
                </div>
                <div class="col-sm-3">
                    <p>{{totalAmountDue | currency : "₱"}}</p>
                </div>
            </div>
            <div *ngIf="invoice.transactionType == 'DELIVERY'">
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        Delivery Date
                    </div>
                    <div class="col-sm-9">
                        <input matInput
                            [(ngModel)]="deliveryDate"
                            [min]="minimumDeliveryDate"
                            [matDatepicker]="datepicker"
                            placeholder="Choose delivery date"
                            disabled>
                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker disabled="false" [disabled]=viewMode></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    Delivery Time
                </div>
                <div class="col-sm-9">
                        <input [disabled]=viewMode placeholder="Choose delivery time"
                            [(ngModel)]="deliveryTime"
                            [ngxTimepicker]="timepicker"
                            [min]="deliveryStartTime"
                            [max]="deliveryEndTime"
                            readonly>
                        <ngx-material-timepicker #timepicker
                            [minutesGap]="5" 
                            [enableKeyboardInput]="true"
                            (timeSet)="changeDeliveryTime($event)"></ngx-material-timepicker>
                </div>
            </div>
            <div class="row">
                <hr *ngIf="viewMode">
                <div class="col-sm-3" *ngIf="viewMode">
                    Rider:
                </div>
                <div class="col-sm-1" *ngIf="!editingRider && viewMode">
                    <button type="button" class="btn btn-secondary" *ngIf="canUpdate" (click)="editRider()">
                        SELECT<i class="fa fa-motorcycle fa-lg"></i>
                    </button>
                </div>
                <div class="col-sm-8" *ngIf="!editingRider && viewMode">
                    <input *ngIf="invoice.riderDetails!=null" [(value)]="invoice.riderDetails.personalDetails.lastName+', '+invoice.riderDetails.personalDetails.firstName" type="text" disabled="true">
                </div>
                <div class="col-sm-7" *ngIf="editingRider && viewMode">
                    <mat-select [(value)]="selectedRider" [placeholder]="'Select Rider'" (selectionChange)="selectRider($event.value)">
                        <mat-option *ngFor="let riderAccount of riderAccounts" [value]="riderAccount">
                            {{ riderAccount.personalDetails.lastName }}, {{ riderAccount.personalDetails.firstName }}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="col-sm-1" *ngIf="editingRider && viewMode">
                    <button type="button" class="btn btn-primary" (click)="saveRider()">
                        SAVE<i class="fa fa-motorcycle fa-lg"></i>
                    </button>
                </div>
                <div class="col-sm-1" *ngIf="editingRider && viewMode">
                    <button type="button" class="btn btn-secondary" (click)="cancelRiderChanges()">
                        CANCEL<i class="fa fa-motorcycle fa-lg"></i>
                    </button>
                </div>
            </div>
            <hr>
            <h6>NOTES</h6>
            <div class="row" [hidden]="viewMode">
                <div class="col-sm-3">
                    Add a note
                </div>
                <div class="col-sm-5">
                        <mat-select [placeholder]="'Select Type of Note'" (selectionChange)="selectNote($event.value)">
                            <mat-option *ngFor="let note of notes" [value]="note">
                                {{ note.type }}
                            </mat-option>
                        </mat-select>
                </div>
                <div class="col-sm-4"><button class="add-to-list-button" (click)="addNote()">+</button></div>
            </div>
            <div *ngFor="let note of invoice.notes">
                <div class="row">
                    <div class="col-sm-3">
                        {{note.type}}:
                    </div>
                    <div class="col-sm-9">
                        <textarea [disabled]=viewMode name="message"[(ngModel)]="note.message"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-sm-3">
                    Remarks:
                </div>
                <div class="col-sm-9">
                    <textarea [disabled]=viewMode name="message"[(ngModel)]="invoice.remarks"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-footer">
    <div class="row">
        <button [hidden]="viewMode" class="create-button" (click)="createInvoice()">Save Invoice</button>
    </div>
</div>