<div class="create-form">
    <mat-radio-group [(ngModel)]="deliveryStatus" aria-label="Select Status">
        <mat-radio-button *ngIf="availableStatus.includes('PROCESSING')" class="flex-column" value="PROCESSING"><i class="fa fa-clock-o fa-lg"></i>Processing</mat-radio-button>
        <mat-radio-button *ngIf="availableStatus.includes('FOR_DELIVERY')" class="flex-column" value="FOR_DELIVERY"><i class="fa fa-motorcycle fa-lg"></i>For Delivery</mat-radio-button>
        <mat-radio-button *ngIf="availableStatus.includes('DELIVERED')" class="flex-column"  value="DELIVERED"><i class="fa fa-check fa-lg"></i>Delivered</mat-radio-button>
        <mat-radio-button *ngIf="availableStatus.includes('FOR_PICK_UP')" class="flex-column" value="FOR_PICK_UP"><i class="fas fa-exchange-alt fa-lg"></i>For Pick Up</mat-radio-button>
        <mat-radio-button *ngIf="availableStatus.includes('DONE')" class="flex-column" value="DONE"><i class="far fa-check-square fa-lg"></i>Done</mat-radio-button>
    </mat-radio-group>
</div>
<div class="page-footer">
    <div class="row">
        <button class="create-button" (click)="saveDeliveryStatus()">Save Status</button>
    </div>
</div>