<div class="page-header">
    <div class="row">
        <div class="col">
            <h4>Invoices</h4>
        </div>
        <div [hidden]="hideCreateButton()" class="col text-end">
            <button class="create-button" (click)="goToCreateInvoiceLink()">Create an Invoice</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <app-paginated-table 
        [tableTitle]="'Invoices'"
        [pagedResultSet]="invoicePagedResult"
        [pages]="getPages()"
        [headers]="getHeaders()"
        [tableActions]="getTableActions()"
        [queryParameters]="queryParameters"
        [routeUrl]="'invoices/view'"
        [keyId]="'id'"
        [filters]="filters"
        [typeCriteria]="typeCriteria"
        [dateRanges]="dateRanges"
        [rowColorIdentifier]="'voided'"
        [rowColor]="'#FAA0A0'"
        (queryParametersChanged)="sendQueryParameters()"
        (updateButtonClicked)="openDeliveryStatusDialog($event)"
        (specialButtonClicked)="openPaymentDetailsDialog($event)">
    </app-paginated-table>
    </div>
</div>