<div class="create-form">
    <div class="row">
        <div class="col-sm-5">
            Amount:
        </div>
        <div class="col-sm-7">
            <input type="number"[(ngModel)]="paymentDetails.amount" step='0.01' placeholder='0.00'>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            Method:
        </div>
        <div class="col-md-7">
            <mat-select [(value)]="paymentDetails.paymentMethod">
                <mat-option *ngFor="let  method of methods" [value]="method">
                    {{ method }}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            Note:
        </div>
        <div class="col-md-7">
            <textarea name="note"[(ngModel)]="paymentDetails.note"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            Payment Date
            <mat-datepicker-toggle matSuffix [for]="paymentDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #paymentDatePicker disabled="false"></mat-datepicker>
        </div>
        <div class="col-md-7">
            <input matInput
            [(ngModel)]="paymentDetails.paymentDate"
            [matDatepicker]="paymentDatePicker"
            placeholder="Choose Payment Date"
            class="filter-value" disabled>
        </div>
    </div>
    <div class="row" *ngIf="paymentDetails.updateDate">
        <div class="col-md-5">
            Last Update
            <mat-datepicker-toggle matSuffix [for]="updateDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #updateDatePicker disabled="disabled"></mat-datepicker>
        </div>
        <div class="col-md-7">
            <input matInput
            [(ngModel)]="paymentDetails.updateDate"
            [matDatepicker]="updateDatePicker"
            placeholder="Choose Payment Date"
            class="filter-value" disabled>
        </div>
    </div>
</div>
<div class="page-footer">
    <div class="row">
        <button class="create-button" (click)="savePaymentDetails()">Save Payment</button>
    </div>
</div>