.card-header-field {
    display: flex;
}

.card-header-field div {
    padding: 10px;
}

.card-header-buttons {
    display: flex;
    justify-content: flex-end;
}

.sales-report-value {
    display: flex;
    justify-content: center;
}