<div class="page-header">
    <div class="row">
        <div class="col">
            <h4>Reports</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                Delivery Date <span style="font-size: 12px; font-style: italic">*Dine in transactions have the same delivery date as invoice date</span>
                <div class="card-header-field">
                    <div class="col-md-4">
                        From
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker disabled="false"></mat-datepicker>
                        <input matInput
                                [(ngModel)]="dateRangeFilter.start"
                                [matDatepicker]="startDatePicker"
                                placeholder="Choose Start Date"
                                class="filter-value" disabled>
                    </div>
                    <div class="col-md-4">
                        To
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker disabled="false"></mat-datepicker>
                        <input matInput
                                [(ngModel)]="dateRangeFilter.end"
                                [matDatepicker]="endDatePicker"
                                placeholder="Choose End Date"
                                class="filter-value" disabled>
                    </div>
                </div>
                Transaction Type
                <div class="card-header-field">
                    <div class="col-sm-4">
                        <mat-select [(value)]="activeTransactionType" mat-list-item>
                            <mat-option *ngFor="let transactionType of transactionTypes" [value]="transactionType">
                                {{ transactionType }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                Report Type
                <div class="card-header-field">
                    <div class="col-sm-4">
                        <mat-select [(value)]="activeReportType" mat-list-item>
                            <mat-option *ngFor="let reportType of reportTypes" [value]="reportType">
                                {{ reportType }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div *ngIf="isAdmin">
                    By Branch
                    <div class="card-header-field">
                        <div class="col-sm-4">
                            <mat-select [(value)]="selectedBranchName" [placeholder]="'Select Branch'" (selectionChange)="selectBranch($event.value)">
                                <mat-option *ngFor="let branchName of branchNames" [value]="branchName">
                                    {{ branchName }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div class="card-header-buttons">
                    <button type="button" class="btn btn-primary" (click)=generateReport()>
                        Generate <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" *ngIf="invoiceSalesReport">
                <h5>Total Sales</h5>
                <div class="sales-report-value">
                    <h3 [countUp]="invoiceSalesReport.totalSales"></h3>PHP
                </div>
                <h5>Orders Delivered</h5>
                <div class="sales-report-value">
                    <h3 [countUp]="invoiceSalesReport.totalOrders"></h3>
                </div>
            </div>
            <div class="card-footer" *ngIf="invoiceSalesReport">
                <kendo-chart [categoryAxis]="{ categories: hours }">
                    <kendo-chart-title text="Delivery Time vs Time of Day"></kendo-chart-title>
                    <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
                    <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
                    <kendo-chart-series>
                        <kendo-chart-series-item
                            [data]="ordersPlaced" >
                        </kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </div>
        </div>
    </div>
</div>