<div class="page-header">
    <div *ngIf=!viewMode>
        <h4>{{headerMode}} a Product</h4>
    </div>
</div>
<div class="page-header" *ngIf="viewMode">
    <div class="page-header" *ngIf="viewMode">
        <div class="row">
            <div class="col-sm-12">     
                <button type="button" class="btn btn-primary" *ngIf="canUpdate" (click)="viewMode=false; headerMode='Edit'">
                    EDIT <i class="far fa-edit"></i>
                </button>
                <button type="button" class="btn btn-secondary" *ngIf="canDelete" (click)="openConfirmDeleteDialog()">
                    DELETE <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <h4>Product Details</h4>
            </div>
        </div>
    </div>
</div>
<div class="create-form">
    <div class="row">
        <div class="col-sm-3">
            Product Type
        </div>
        <div class="col-sm-9">
            <mat-radio-group [disabled]=viewMode [(ngModel)]="product.productType" aria-label="Select Transaction Type">
                <mat-radio-button value="MAIN"><i class="fa fa-cutlery fa-lg"></i>Main</mat-radio-button>
                <mat-radio-button value="ADD_ON"><i class="fa fa-plus fa-lg"></i>Add on</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Product Category
        </div>
        <div class="col-sm-9">
            <mat-radio-group [disabled]=viewMode [(ngModel)]="product.productCategory" aria-label="Select Transaction Type">
                <mat-radio-button value="UNLIMITED">Unlimited</mat-radio-button>
                <mat-radio-button value="LIMITED">Limited</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-3">
            Product:
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text"[(ngModel)]="product.name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Product Code:
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="text"[(ngModel)]="product.productCode">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Description:
        </div>
        <div class="col-sm-9">
            <textarea [disabled]=viewMode name="description"[(ngModel)]="product.description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Number of Pax:
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="number"[(ngModel)]="product.numberOfPax">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Price:
        </div>
        <div class="col-sm-9">
            <input [disabled]=viewMode type="number"[(ngModel)]="product.price" step='0.01' placeholder='0.00'>
        </div>
    </div>
</div>
<div class="page-footer">
    <div class="row">
        <button [hidden]="viewMode" class="create-button" (click)="saveProduct()">Save Product</button>
    </div>
</div>