<div class="page-header">
    <div class="row">
        <div class="col">
            <h4>Products</h4>
        </div>
        <div [hidden]="hideCreateButton()" class="col text-end">
            <button class="create-button" (click)="goToAddProductLink()">Add a Product</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <app-paginated-table
        [tableTitle]="'Products'"
        [pagedResultSet]="productResultSet"
        [headers]="getHeaders()"
        [pages]="getPages()"
        [queryParameters]="queryParameters"
        [routeUrl]="'products/view'"
        [keyId]="'id'"
        [filters]="filters"
        [dateRanges]="dateRanges"
        (queryParametersChanged)="sendQueryParameters()">
    </app-paginated-table>
    </div>
</div>