<div class="page-header"  *ngIf="!viewMode">
    <div>
        <h4>{{headerMode}} Role</h4>
    </div>
</div>
<div class="page-header" *ngIf="viewMode">
    <div class="row">
        <div class="col-sm-12">     
            <button type="button" class="btn btn-primary" *ngIf="canUpdate" (click)="viewMode=false; headerMode='Edit'">
                EDIT <i class="far fa-edit"></i>
            </button>
            <button type="button" class="btn btn-secondary" *ngIf="canUpdate" (click)="delete()">
                DELETE <i class="far fa-trash-alt"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <h4>Role Details</h4>
        </div>
    </div>
</div>
<div class="create-form">
    <div class="row">
        <div class="col-sm-3">
            Title
        </div>
        <div class="col-sm-9">
            <input [disabled]="viewMode" type="text" [(ngModel)]="role.name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Description
        </div>
        <div class="col-sm-9">
            <textarea [disabled]="viewMode" name="description"[(ngModel)]="role.description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 rider">
            For Rider Accounts
        </div>
        <div class="col-sm-9">
            <mat-slide-toggle [checked]="role.otherProperties['forRider']" (change)="toggleForRider($event.source.checked)" [matTooltip]="riderTooltipMessage" [disabled]="viewMode">
            </mat-slide-toggle>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">Permissions</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" >
                        <thead>
                            <th>Resource</th>
                            <th *ngFor="let action of actions | keyvalue">
                                {{action.value}}
                            </th>   
                        </thead>
                        <tbody>
                            <tr *ngFor="let resource of resources | keyvalue | sortBy:'asc':'value' ">
                                <td>
                                    {{resource.value}}
                                </td>
                                <td *ngFor="let action of actions | keyvalue">
                                    <mat-slide-toggle [checked]="hasPermission(resource.value, action.value)" [hidden]="hideActionToggle(resource.value, action.value)" [disabled]="viewMode" (change)="actionToggled($event.source.checked, resource.value, action.value)">
                                    </mat-slide-toggle>
                                </td> 
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-footer">
    <div class="row" *ngIf="!viewMode">
        <button class="create-button" (click)="saveRole()">Save Role</button>
    </div>
</div>