<div class="page-header">
    <div class="row">
        <div class="col">
            <h4>Roles</h4>
        </div>
        <div [hidden]="hideCreateButton()" class="col text-end">
            <button class="create-button" (click)="goToCreateRoleLink()">Create New Role</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <app-paginated-table
        [tableTitle]="'Roles'"
        [pagedResultSet]="rolePagedResultSet"
        [pages]="getPages()"
        [headers]="getHeaders()"
        [routeUrl]="'roles/view'"
        [keyId]="'id'"
        [filters]="filters"
        [dateRanges]="dateRanges"
        [queryParameters]="queryParameters"
        (queryParametersChanged)="sendQueryParameters()">
        </app-paginated-table>
    </div>
</div>