<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sideDrawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <mat-toolbar-row [routerLink]="['/home']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">outdoor_grill</i>{{title}}
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="associatedBranches.length > 0">
        <mat-select class="branch-navigation" [(value)]="activeBranch" mat-list-item (selectionChange)="changeActiveBranch($event.value)">
          <mat-option *ngFor="let branch of associatedBranches" [value]="branch">
            {{ branch.name }}
          </mat-option>
        </mat-select>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <a [hidden]="hideNavigationItem('invoices')" mat-list-item [routerLink]="['/invoices']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">attach_money</i>Invoices
      </a>
      <a [hidden]="hideNavigationItem('products')" mat-list-item [routerLink]="['/products']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">local_dining</i>Products
      </a>
      <a [hidden]="hideNavigationItem('customers')" mat-list-item [routerLink]="['/customers']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">people</i>Customers
      </a>
      <a [hidden]="hideNavigationItem('purchases')" mat-list-item [routerLink]="['/purchases']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">payment</i>Purchases
      </a>
      <a [hidden]="hideNavigationItem('reports')" mat-list-item [routerLink]="['/reports']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">trending_up</i>Reports
      </a>
      <a [hidden]="hideNavigationItem('schedules')" mat-list-item [routerLink]="['/schedules']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">schedule</i>Schedules
      </a>
      <a [hidden]="hideNavigationItem('processing_queue')" mat-list-item [routerLink]="['/processing_queue']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">add_to_queue</i>Processing Queue
      </a>
      <a [hidden]="hideNavigationItem('pickup_queue')" mat-list-item [routerLink]="['/pickup_queue']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">add_to_queue</i>Pickup Queue
      </a>
      <a [hidden]="hideNavigationItem('accounts')" mat-list-item [routerLink]="['/accounts']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">verified_user</i>Accounts
      </a>
      <a [hidden]="hideNavigationItem('roles')" mat-list-item [routerLink]="['/roles']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">people_outline</i>Roles
      </a>
      <a [hidden]="hideNavigationItem('branches')" mat-list-item [routerLink]="['/branches']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">store_mall_directory</i>Branches
      </a>
      <a [hidden]="hideNavigationItem('audits')" mat-list-item [routerLink]="['/audits']" (click)="closeDrawerInOverMode()">
        <i class="material-icons">fact_check</i>Audits
      </a>
    </mat-nav-list>
    <div (dblclick)="goToChangeLogs()">
      <div class="build-version">
        Build Version: {{version}}
      </div>
      <div class="navigation-powered-by">
        Powered by: Ad-App
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sideDrawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="mat-toolbar-spacer"></span>
        <button id="logout-button" (click)=logout()>
          Log out <i class="fa fa-sign-out"></i>
        </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
