.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: #f6f6f6;
}

.sidenav a {
  color: #d6204e;
  transition: 0.3s;
}

.sidenav a:hover{
  color: #dd1717;
}

mat-toolbar {
  background-color: #d6204e;
}

.mat-toolbar-spacer {
  flex: 1 1 auto;
}

.sidenav .mat-toolbar {
  color: #d6204e;
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navigation-powered-by, .build-version {
  color: #cacaca;
  text-align: center;
  font-size: 8px;
  bottom: 0;
  position: fixed;
  width: fit-content;
  padding: 10px;
}

.build-version {
  color: lightpink;
  font-size: 10px;
  bottom: 10px;
}