/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
/* regular style toast */
@import '~ngx-toastr/toastr';

button  {
    background-color: #d6204e;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.add-to-list-button {
    border: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100%;
}

.create-button {
    padding: 10px;
    border-radius: 25px;
}

.create-form input[type=text],.create-form input[type=number],.create-form .completer-input, .create-form textarea, .create-form mat-select {
    border: 2px solid lightgrey;
}

.create-form div{
    margin: auto; 
}

input[type=text], input[type=password], input[type=number], .completer-input, textarea, .create-form mat-select {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.create-form i {
    padding: 1px 5px 1px 5px;
}

.create-form mat-radio-button {
    width: 30%;
    padding: 15px 32px;
}

.create-form mat-radio-button.flex-column {
    width: 10%;
    display: flex; flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

input[type=number] {
    padding: 10px 0px;
    width: 60%;
}
  
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, textarea:focus, .create-form mat-select:focus {
    background-color: #fff;
    border-bottom: 2px solid #d6204e;
} 

.page-header, .page-footer {
    margin: 20px 0px 20px 0px;
}

.page-header button {
    margin: 5px;
}

.page-footer{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
}
  
button:hover, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #b11226;
    border-color: #d6204e;
}

.btn-primary {
    color: #fff;
    background-color: #d6204e;
    border-color: lightpink;
}

/* Simple CSS3 Fade-in Animation */
.underline-hover:after, .mat-list-item:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #d6204e;
    content: "";
    transition: width 0.2s;
}

.underline-hover:hover:after, .mat-list-item:hover:after {
    width: 100%;
}

.edit-span {
    padding: 7px;
}

.edit-button {
    border-radius: 25px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
