<img src="assets/images/Samgyup-sa-bahay-final-logo-text.png" class="img-fluid">
<div *ngIf='showDashboard'>
    <mat-grid-list [cols]="breakpoint" rowHeight="3:1" (window:resize)="onResize($event)">
        <mat-grid-tile>
            <mat-grid-tile-header>
                Total Deliveries Today
            </mat-grid-tile-header>
            <h3 [countUp]="deliveriesToday"></h3>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-grid-tile-header>
                Same-day Deliveries
            </mat-grid-tile-header>
            <h3 [countUp]="sameDayDeliveries"></h3>
        </mat-grid-tile><mat-grid-tile>
            <mat-grid-tile-header>
                Delivered Today
            </mat-grid-tile-header>
            <h3 [countUp]="deliveredToday"></h3>
        </mat-grid-tile><mat-grid-tile>
            <mat-grid-tile-header>
                Remaining Deliveries
            </mat-grid-tile-header>
            <h3 [countUp]="remainingDeliveries"></h3>
        </mat-grid-tile>
    </mat-grid-list>
</div>