<div class="page-header">
    <div class="row">
        <div class="col">
            <h4>Queue - {{status}}</h4>
        </div>
    </div>
    <div class="row" *ngIf="queueUrl=='PROCESSING_QUEUE'">
        <div class="col-3">
            <mat-select [(value)]="activeTransactionType" mat-list-item (selectionChange)="changeTransactionType()">
                <mat-option *ngFor="let transactionType of transactionTypes" [value]="transactionType">
                    {{ transactionType }}
                </mat-option>
            </mat-select>
        </div>
    </div>
</div>
<mat-grid-list cols="5" rowHeight="2:3">
    <div *ngFor="let queue of invoiceQueueList">
        <mat-grid-tile
        [style.background]="colorBaseOnDelay(queue.late)"
        [style.border]="'2px solid'"
        [style.border-color]="colorBaseBySameDayDelivery(queue.forSameDayDelivery)">
            <cdk-virtual-scroll-viewport [itemSize]="10"  class="scroll-viewport">
                <div class="tile-headers">{{queue.invoiceNumber}} - {{queue.customerName}}</div>
                <div class="tile-headers">{{queue.deliveryDateTimeString}}</div>
                <li *cdkVirtualFor="let item of queue.items">{{item.product.productCode}} X {{item.quantity}}pc(s)</li>
                <div class="buttons-container">
                    <button type="button" class="btn btn-success"(click)="openConfirmDialog(queue)">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                </div>
            </cdk-virtual-scroll-viewport>
        </mat-grid-tile>
    </div>
    <div *ngIf="invoiceQueueList.length < 1">
        <mat-grid-tile class="empty-tile">
            <div>NO PENDING {{activeTransactionType}}</div>
        </mat-grid-tile>
    </div>
</mat-grid-list>