mat-grid-tile {
    border-radius: 10px;
}

.tile-headers {
    background-color: gray;
    border-radius: 10px;
    opacity: 80%;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
}

mat-grid-tile.empty-tile {
    border: dotted;
}

mat-grid-tile.empty-tile div{
    padding: 10px;
}

mat-grid-tile-footer button {
    margin: 5px;
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
}
.scroll-viewport {
    height: 70%;
    width: 90%;
  }

::-webkit-scrollbar {
-webkit-appearance: none;
width: 7px;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: rgba(0, 0, 0, .5);
-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
  